<div class="payroll" fxLayout="column"
                  fxLayoutGap.gt-md="20px"  fxFlex="100%">
  <div fxLayoutAlign="center center">
      <mat-form-field fxFlex="40%" *ngIf="employees.length > 0">
        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" >
          <button mat-raised-button  (click)="viewAddEmployee();" color="primary">Add Employee</button>
      </div>
    </div>

    <section *ngIf="employees.length > 0">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.firstName }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.lastName }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="dateOfBirth">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Date of Birth</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.dateOfBirth | date: 'yyyy-MM-dd'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="income">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Income</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.income | number }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="country">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Country</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.country }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></mat-row>
    </mat-table>

    <mat-paginator [pageSize]="5" [pageSizeOptions]="[1, 5, 10, 20]">
    </mat-paginator>
  </section>
</div>
