<ng-container *ngIf="true">
  
    <mat-sidenav-container class="example-container">
      <mat-sidenav #sidenav mode="side" opened="true" class="example-sidenav"
                   [fixedInViewport]="false" [fixedTopGap]="false"
                   [fixedBottomGap]="false">
                   <button mat-button>Payments</button>  
      </mat-sidenav>
  
      <mat-sidenav-content> <!-- [formGroup]="options" -->
       <!-- <p><mat-checkbox formControlName="fixed">Fixed</mat-checkbox></p>
        <p><mat-form-field>
          <input matInput type="number" formControlName="top" placeholder="Top gap">
        </mat-form-field></p>
        <p><mat-form-field>
          <input matInput type="number" formControlName="bottom" placeholder="Bottom gap">
        </mat-form-field></p>
        <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p> -->
        <app-payroll></app-payroll>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </ng-container>