<div *ngIf="employee" class="example-form">

    <mat-card>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="First name" [(ngModel)]="employee.firstName" type="text" name="firstName">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Last name" [(ngModel)]="employee.lastName" type="text" name="lastName">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Date of Birth" [(ngModel)]="employee.dateOfBirth" name="dateOfBirth">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Income" [(ngModel)]="employee.income" name="income">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Country" aria-label="Country" [(ngModel)]="employee.country" name="country">
        </mat-form-field>

    </mat-card>

</div>
